#!/usr/bin/env bash
echo "Loading configuration..."

#### Load phenotype
SLURM_ARRAY_TASK_ID=$1
if [ "${SLURM_ARRAY_TASK_ID}" == 1 ]; then
    phenotype="DNAmAgeSD"
    fastGWA="results/10/DNAmAgeSD.fastGWA"
    echo "==================Running for DNAmAgeSD=================="

elif [ "${SLURM_ARRAY_TASK_ID}" == 2 ]; then
    phenotype="DNAmAgessSD"
    fastGWA="results/10/DNAmAgessSD.fastGWA"
    echo "==================Running for DNAmAgessSD=================="

elif [ "${SLURM_ARRAY_TASK_ID}" == 3 ]; then
    phenotype="PhenoAgeSD"
    fastGWA="results/10/PhenoAgeSD.fastGWA"
    echo "==================Running for PhenoAgeSD=================="

elif [ "${SLURM_ARRAY_TASK_ID}" == 4 ]; then
    phenotype="PhenoAgessSD"
    fastGWA="results/10/PhenoAgessSD.fastGWA"
    echo "==================Running for PhenoAgessSD=================="

elif [ "${SLURM_ARRAY_TASK_ID}" == 5 ]; then
    phenotype="DunedinPACESD"
    fastGWA="results/10/DunedinPACESD.fastGWA"
    echo "==================Running for DunedinPACESD=================="

elif [ "${SLURM_ARRAY_TASK_ID}" == 6 ]; then
    phenotype="DunedinPACEssSD"
    fastGWA="results/10/DunedinPACEssSD.fastGWA"
    echo "==================Running for DunedinPACEssSD=================="

elif [ "${SLURM_ARRAY_TASK_ID}" == 7 ]; then
    phenotype="gwas_smoking"
    fastGWA="results/11/gwas_smoking.fastGWA"
    echo "==================Running for gwas_smoking=================="
fi


#### Paths
HomePath="/lustre/home/sww208/GoDMC/GeneticAssociationAnalysis"
DataPath="/lustre/home/sww208/GoDMC/GADatasets/StatsAgeSmoke2025/AgeSmokeData"
SampleWeight="21000"
echo "HomePath is set to ${HomePath}"
echo "Please setting the HomePath variable in the config file if it is not correct."
ScriptsPath="/lustre/home/sww208/GoDMC/GeneticAssociationAnalysis"
RscriptsPath="${ScriptsPath}/Rscripts"

MetalPath="${HomePath}/METALscripts"
METAresPath="${HomePath}/METALresults"
COJOresPath="${HomePath}/COJOresults"
MstatresPath="${HomePath}/Mstatresults"
METAregrePath="${HomePath}/METAregresults"
LDSCresPath="${HomePath}/LDSCresults"
GENECORresPath="${HomePath}/GENECORresults"


#### tools
LDSC="/lustre/home/sww208/Software/ldsc"